@{
  Layout = "_Layout";
}

@model ReadingNook.Models.Book

<h1>Add a New Book</h1>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Title)
  @Html.TextBoxFor(model => model.Title)
  @Html.LabelFor(model => model.Series)
  @Html.TextBoxFor(model => model.Series)
  @Html.LabelFor(model => model.Length)
  @Html.TextBoxFor(model => model.Length, new { type = "number", min = "1", step = "1"})
  @Html.LabelFor(model => model.Publication)
  @Html.TextBoxFor(model => model.Publication, new { type = "number", min = "0", step = "1" })
  @Html.LabelFor(model => model.Tags)
  @Html.TextBoxFor(model => model.Tags)
  @Html.LabelFor(model => model.Read)
  @Html.CheckBoxFor(model => model.Read)

  <input type="submit" value="Add Book"/>

}