@{
  Layout = "_Layout";
}

@model ReadingNook.Models.Author

<h1>Edit @Model.Name</h1>
@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.AuthorId)

  @Html.LabelFor(model => model.Name)
  @Html.EditorFor(model => model.Name) <br>
  @Html.LabelFor(model => model.DOB)
  @Html.EditorFor(model => model.DOB, new { type="number", min ="0", step = "1"}) <br>
  @Html.LabelFor(model => model.Description)
  @Html.EditorFor(model => model.Description) <br>
  
  <input type="submit" value="Update Author"/>

}